<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <!-- navbar -->
    <%- include("./partials/nav.ejs") %>

    <div class="blogs content">
      <h2>All Blogs</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
        placeat totam nobis maiores vel amet quam nam dignissimos assumenda
        voluptatem?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
        placeat totam nobis maiores vel amet quam nam dignissimos assumenda
        voluptatem?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
        placeat totam nobis maiores vel amet quam nam dignissimos assumenda
        voluptatem?
      </p>
    </div>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
